---
title: 'Goodnest — Felix Terpstra'
---

.position-indicator
  .indicator
  .indicator.active
  .indicator
  .indicator
  .indicator

.article-header
  .site-width
    .article-header-container
      .article-header-title Goodnest
      .article-header-description 
        Goodnest is a web application that makes it easy for people to get their houses cleaned. Customers use the website to book a job, giving details on house size and date. Behind the scenes, a pool of cleaners are able to view and tender for cleaning jobs, and manage their upcoming bookings.
    .image.article-header-image

.article-body
  .site-width
    .copy-block
      .column
        %p My first step was to outline the main groups of people interacting with the product: customers, cleaners and administrators. Understanding in detail the needs of each of these users was crucial to designing an interface that would be successful in the real world.
        %p Each group of customers had very different goals while using the application. Customers want a no-fuss way to book their cleans and a simple way to manage them, and only interact with the app occasionally. Their main experience with Goodnest is with the actual cleaner, not the app. Cleaners need to see details of new jobs and decide which to apply for, manage their confirmed bookings, and see a history of their completed jobs. They interact with the app daily as they are motivated by an incoming stream of work. Administrators need an overview of the system across all users and jobs, and the ability to fix problems as they arise.
      .column.last
        %p 
          I mapped out the information architecture of the app using flow diagrams, organised by views and by each of the user groups, to give a clear idea of where particular features would fit in relation to each other. 
          %br 
          Next I drew up simple wireframes of each screen using the information in the flow diagrams. Wireframing an interface allows layout ideas to be quickly tested and iterated upon, without having to produce a full-fidelity mockup at each step.
          %br
          Having locked in the layout design of the final look and feel for the app could begin, including branding, colour schemes, typography and interaction design.

    .article-title Booking a Clean
    .hover-animation#booking-a-job{data: {expandable: true, bg: true}}
      .image.full-width
        = image_tag 'goodnest/mock-quote-process-1-desktop.png'
      .shadow
    .image-caption Customers book a job by selecting the number of bedrooms and bathrooms in their house
    .copy-block
      .column
        %p The heart of the app is the customer booking process. My primary goal was to reduce the number of people leaving the process without completing. The information I needed to collect from the customer during this process was quite large and would have required a very long form. 
      .column.last
        %p I decided instead to split the form fields into separate steps, grouped by type. This would make the form seem less daunting and allow the customer to focus on each step in turn, reducing the number of incomplete bookings and helping with the accuracy of information collected.

    .article-title Managing a Clean
    .hover-animation{data: {expandable: true, bg: true}}
      .image.full-width
        = image_tag 'goodnest/merch-dash.png'
      .shadow
    .image-caption An expanded job in a cleaner's dashboard, with the Job Summary block visible
    .copy-block
      .column
        %p The cleaner dashboard centers around displaying lists of jobs in tabs. The goal was to provide enough information about the job upfront to allow the cleaner to decide if they were interested in the job. They could then click each job to expand it inline, exposing additional information. This would enable for easy scanning of what would become an increasingly long list of jobs as the service grew.
      .column.last
        %p I designed the look of a job to be consistant across each tab of the dashboard (New Jobs, Pending, Bookings and History), displaying different blocks of information in the expanded view depending on what what the cleaner needed to see at that time.

    .article-title Mobile
    .image-left
      .column
        .mobile-mock
          = image_tag 'goodnest/new-jobs-view.png'
      .column.mobile-copy
        %p Having the application work well on mobile was particularly important for cleaners, as they would need to check the details for upcoming jobs while out in the field. 
        %p It became apparent early on that the structure of the desktop layout wouldn’t translate well to the smaller screen size of mobile devices. Working with the development team, we opted for an adaptive platform that would detect the device being used (i.e. a phone or tablet) and supply a different interface from the desktop. 
        %p This strategy worked well and produced interfaces tailored to not only the smaller screen space but also the different environments that phones and tablets are used in. 

.article-footer
  .site-width
    .block.first
      .article-footer-title Get in touch
      .article-footer-body 
        = link_to 'felix@felixterpstra.com', 'mailto:felix@felixterpstra.com'
        %br/
        +44 7463 930107
    .block
      .article-footer-title More work
      .article-footer-body= link_to 'Find out about Popin', '/popin'
