---
title: 'Popin — Felix Terpstra'
---

.article-header
  .site-width
    .article-header-container
      .article-header-title Popin
      .article-header-description 
        Popin was a private social network that allowed users to leave feedback on real world locations that was only visible to their friends.
        %br
        Initially developed as a website we later switched to a mobile first approach, developing and releasing an iOS app to a group of active beta users.

.article-body
  .site-width
    .mobile
      .mobile-mock
        = image_tag 'popin/nearby.png'
      .mobile-mock
        = image_tag 'popin/place.png'
    .image-caption Popin centered around leaving personal notes for your friends, tagged at real locations such as restaurants and parks.

    .image.full-width
      = link_to '../images/popin/user-flow.png', target: '_blank' do
        = image_tag 'popin/user-flow.png'
    .image-caption Flow diagram outlining the functionality of the app and how individual features fit together. From this wireframes were produced, followed by full-fidelity mockups.

    = image_tag 'popin/web-stream.png', class: 'gif'
    .image-caption Original designs for the web version of Popin, showing the stream of new popups