---
title: 'Statusboard — Felix Terpstra'
---

.article-header
  .site-width
    .article-header-container
      .article-header-title Statusboard
      .article-header-description 
        Statusboard was a web application that agregated vital business metrics from various digital services and displayed them in easy to read dashboards. The goal was to provide an up-to-date view of your whole business in one place.
        %br
        A marketing site used for aquiring alpha users is available
        = link_to 'here', 'http://rwasher.com/stbd-wp/', target: '_blank'

.article-body
  .site-width
    .image.full-width
      = link_to '../images/statusboard/board.png', target: '_blank' do
        = image_tag 'statusboard/board.png'
    .image-caption The dashboard interface displaying various business metrics

    .image.full-width
      = link_to '../images/statusboard/edit.png', target: '_blank' do
        = image_tag 'statusboard/edit.png'
    .image-caption Editing a dashboard (showing earlier design for a dashboard)

    .image.full-width
      = link_to '../images/statusboard/drill-down.png', target: '_blank' do
        = image_tag 'statusboard/drill-down.png'
    .image-caption Clicking on a widget opens the drill-down interface, allowing more in depth analysis of data

    = image_tag 'statusboard/alarm.gif', class: 'gif'
    .image-caption Animation design of the alarm state of a widget